<% if @users.count != 0 %>
    <% @users.each do |user| %>
        <div class="col-md-8 col-md-2">
            <div class="row">
                <%= link_to user_path(user), class: "no-text-decoration" do %>
                    <%= image_tag avatar_url(user), class: "post-profile-icon" %>
                <% end %>
                <h2><%= user.name %></h2>
                <div id="follow_status<%= user.id %>">
                    <%= render "partial/follow_status", { user: user} %>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <a>ユーザーが未登録です。</a>
<% end %>